# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
files
node_modules
public
.DS_Store
dist
*.local

node-image-hosting-server/files
node-image-hosting-server/public
node-image-hosting-server/node-image-hosting-server
node-image-hosting-server/node-image-hosting-server.zip

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
