.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.static {
    position: static;
}

.sticky {
    position: sticky;
}

.top-0 {
    top: 0rem;
}

.top-1 {
    top: 0.5rem;
}

.top-2 {
    top: 1rem;
}

.top-3 {
    top: 1.5rem;
}

.top-4 {
    top: 2rem;
}

.top-5 {
    top: 2.5rem;
}

.top-6 {
    top: 3rem;
}

.top-7 {
    top: 3.5rem;
}

.top-8 {
    top: 4rem;
}

.top-1-12 {
    top: 8%;
}

.top-2-12 {
    top: 17%;
}

.top-3-12 {
    top: 25%;
}

.top-4-12 {
    top: 33%;
}

.top-5-12 {
    top: 42%;
}

.top-6-12 {
    top: 50%;
}

.top-7-12 {
    top: 58%;
}

.top-8-12 {
    top: 67%;
}

.top-9-12 {
    top: 75%;
}

.top-10-12 {
    top: 83%;
}

.top-11-12 {
    top: 92%;
}

.top-12-12 {
    top: 100%;
}

.right-0 {
    right: 0rem;
}

.right-1 {
    right: 0.5rem;
}

.right-2 {
    right: 1rem;
}

.right-3 {
    right: 1.5rem;
}

.right-4 {
    right: 2rem;
}

.right-5 {
    right: 2.5rem;
}

.right-6 {
    right: 3rem;
}

.right-7 {
    right: 3.5rem;
}

.right-8 {
    right: 4rem;
}

.right-1-12 {
    right: 8%;
}

.right-2-12 {
    right: 17%;
}

.right-3-12 {
    right: 25%;
}

.right-4-12 {
    right: 33%;
}

.right-5-12 {
    right: 42%;
}

.right-6-12 {
    right: 50%;
}

.right-7-12 {
    right: 58%;
}

.right-8-12 {
    right: 67%;
}

.right-9-12 {
    right: 75%;
}

.right-10-12 {
    right: 83%;
}

.right-11-12 {
    right: 92%;
}

.right-12-12 {
    right: 100%;
}

.left-0 {
    left: 0rem;
}

.left-1 {
    left: 0.5rem;
}

.left-2 {
    left: 1rem;
}

.left-3 {
    left: 1.5rem;
}

.left-4 {
    left: 2rem;
}

.left-5 {
    left: 2.5rem;
}

.left-6 {
    left: 3rem;
}

.left-7 {
    left: 3.5rem;
}

.left-8 {
    left: 4rem;
}

.left-1-12 {
    left: 8%;
}

.left-2-12 {
    left: 17%;
}

.left-3-12 {
    left: 25%;
}

.left-4-12 {
    left: 33%;
}

.left-5-12 {
    left: 42%;
}

.left-6-12 {
    left: 50%;
}

.left-7-12 {
    left: 58%;
}

.left-8-12 {
    left: 67%;
}

.left-9-12 {
    left: 75%;
}

.left-10-12 {
    left: 83%;
}

.left-11-12 {
    left: 92%;
}

.left-12-12 {
    left: 100%;
}

.bottom-0 {
    bottom: 0rem;
}

.bottom-1 {
    bottom: 0.5rem;
}

.bottom-2 {
    bottom: 1rem;
}

.bottom-3 {
    bottom: 1.5rem;
}

.bottom-4 {
    bottom: 2rem;
}

.bottom-5 {
    bottom: 2.5rem;
}

.bottom-6 {
    bottom: 3rem;
}

.bottom-7 {
    bottom: 3.5rem;
}

.bottom-8 {
    bottom: 4rem;
}

.bottom-1-12 {
    bottom: 8%;
}

.bottom-2-12 {
    bottom: 17%;
}

.bottom-3-12 {
    bottom: 25%;
}

.bottom-4-12 {
    bottom: 33%;
}

.bottom-5-12 {
    bottom: 42%;
}

.bottom-6-12 {
    bottom: 50%;
}

.bottom-7-12 {
    bottom: 58%;
}

.bottom-8-12 {
    bottom: 67%;
}

.bottom-9-12 {
    bottom: 75%;
}

.bottom-10-12 {
    bottom: 83%;
}

.bottom-11-12 {
    bottom: 92%;
}

.bottom-12-12 {
    bottom: 100%;
}

.box-border {
    box-sizing: border-box;
}

.box-content {
    box-sizing: content-box;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}

.flex-6 {
    flex: 6;
}

.flex-7 {
    flex: 7;
}

.flex-8 {
    flex: 8;
}

.justify-normal {
    justify-content: normal;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.content-normal {
    align-content: normal;
}

.content-start {
    align-content: flex-start;
}

.content-end {
    align-content: flex-end;
}

.content-center {
    align-content: center;
}

.content-between {
    align-content: space-between;
}

.content-around {
    align-content: space-around;
}

.content-evenly {
    align-content: space-evenly;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.items-center {
    align-items: center;
}

.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.hidden {
    overflow: hidden;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}